.post {
    width : 500px !important;
    margin : 20px auto;
    border: 1px solid gray;
    padding: 0 0 10px;

}

.post .header{
    font-size: 30px;
    color:  #28a745;
}

.footer > .col {
    text-align: right;
}